<%- include ("./partials/navbar") %>
<div class="container"><%- include ("./partials/messages") %></div>

<div class="product-container">
  
  <% products.forEach((product)=>{ %>
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%=product.sdesc %></h6>
      <p><strong>Price : <%= product.price %></strong></p>
      <p class="card-text"><%= product.description %></p>
      <a href="/auth/delete/<%= product._id %>" class="btn btn-primary">Delete</a>
      <a href="/auth/update/<%= product._id %>" class="btn btn-primary">Update</a>
    </div>
  </div>
  <% }); %>
</div>