<div class="container register-container">
    <div class="jumbotron regform">
        <div class="container header-container">
          
            <p id="registration-text">Registration</p>
        </div>
        <%- include ("./partials/messages") %>
        <form action="/register" method="POST">
            <div class="form-group">
              <label for="formGroupExampleInput">Username:</label>
              <input type="text" name="name" class="form-control" id="formGroupExampleInput" placeholder="Username" 
              value="<%= typeof name != 'undefined'? name : '' %>"
              >
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Email Address</label>
              <input type="email" name="email" class="form-control" id="formGroupExampleInput2" placeholder="xyz@gmail.com"
              value="<%= typeof email != 'undefined'? email : '' %>"
              pattern=""
              >
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Enter Password</label>
                <input type="password" name="password"  class="form-control" id="formGroupExampleInput" placeholder=""
                value="<%= typeof password != 'undefined'? password : '' %>"
                >
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Confirm Password</label>
                <input type="password" name="passwordconfirm" class="form-control" id="formGroupExampleInput2" placeholder=""
                value="<%= typeof passwordconfirm != 'undefined'? passwordconfirm : '' %>"
                >
            </div>
            <div class="form-group">
              <label for="sel1">Select Role:</label>
              <select class="form-control" name="role" id="sel1" value="<%= typeof role != 'undefined'? role : '' %>">
                <option>Seller</option>
                <option>Customer</option>
                <option>Administrator</option>
              </select>
            </div>
            <button type="submit" class="btn register-button btn-success">Submit</button>
          </form>
          <p id="base-text">Have an Account? <a href="/login">Login</a></p>
    </div>
</div>